.title h1 {
 color: rgb(39, 39, 39);
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 5rem;
 font-size: 2rem;
}

.main {
 display: grid;
 height: 100vh;
 grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
 grid-gap: 2rem;
}

.footer {
 position: absolute;
 bottom: 0;
}

@media screen and (max-width: 660px) {
 .main {
 }
}
